body {
    padding-top: 10%;
    position: relative;
    background-image: url('/mvc/Public/css/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
body::after {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
}

.login {
    position: relative;
    z-index: 1;
}
.login form {
    padding: 20% 10% ;
    border: 1px solid #9e9e9e;
    border-radius: 7px;
    background-color: rgba(102,102,102,.2);
}
.login form:hover {
    border: 1px solid rgb(38,166,154);
    box-shadow: 0px 0px 10px 3px rgba(38,166,154,.1);
}